{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
<h3>Create a new Project</h3>
    <div class="row">
        <div class="col-sm-4">
        <form action="" method="post">
            <ul class="list-group">
                {{form.hidden_tag()}}
                <li class="list-group-item">
                    {{form.project_name.label}} {{form.project_name()}}
                </li>
                <li class="list-group-item">
                    {{form.description.label}} {{form.description()}}
                </li>
                <li class="list-group-item">
                    {{form.team_name.label}} {{form.team_name()}}
                </li>
                <li class="list-group-item">
                    {{form.submit()}}
                </li>
            </ul>
        </form>
        </div>
    </div>
</div>
{% endblock %}